<%= form_with(model: activite, local: true) do |form| %>
  <% if activite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activite.errors.count, "error") %> prohibited this activite from being saved:</h2>

      <ul>
      <% activite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :activite_user_id %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :activite_duration %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :activite_description %>
  </div>

  <div class="field">
    <%= form.label :create_at %>
    <%= form.datetime_select :create_at, id: :activite_create_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at, id: :activite_updated_at %>
  </div>

  <div class="field">
    <%= form.label :approved %>
    <%= form.number_field :approved, id: :activite_approved %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
